services:
  api:
    image: ghcr.io/sudo-artem-dev/apiswap-api-prod:latest
    container_name: apiswap-prod
    ports:
      - "${API_PORT}:${API_PORT}"
    environment:
      - NODE_ENV=development
      - PORT=${API_PORT}
      - MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongo:27017/campuswap?authSource=admin
    env_file:
      - .env
    depends_on:
      mongo:
        condition: service_healthy

    command: npm run start

  mongo:
    image: mongo:8
    container_name: mongo
    environment:
      - MONGO_INITDB_DATABASE=campuswap
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: [ "CMD-SHELL", "mongosh --eval 'db.adminCommand(\"ping\")' || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  mongo_data:
