services:
   api:
      build:
         context: .
         dockerfile: Dockerfile.dev
      image: apiswap-api-dev:latest
      ports:
         - '${API_PORT}:${API_PORT}'
      volumes:
         - .:/usr/src/app
         - /usr/src/app/node_modules
      environment:
         - NODE_ENV=development
         - PORT=${API_PORT}
         - MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongo:27017/campuswap?authSource=admin
      depends_on:
         - mongo
      command: npm run start:dev

   mongo:
      image: mongo:6
      container_name: mongo
      restart: always
      environment:
         - MONGO_INITDB_DATABASE=campuswap
         - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
         - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      ports:
         - '${MONGO_PORT}:27017'
      volumes:
         - mongo_data:/data/db

volumes:
   mongo_data:
