name: Deploy Mobile Application

on:
  push:
    branches:
      - PRO403-11-APM

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
      CI: true

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Expo CLI
        run: npm install -g eas-cli

      - name: Install Dependencies
        run: npm install

      - name: Auth Expo
        run: eas whoami

      - name: Publish OTA
        run:  eas update --channel preview
