name: CI/CD - Build, Publish & Deploy (Backend only)

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: apiswap-api-prod

jobs:

  # --------- JOB 1 : CI/CD - Build et publication Docker ----------
  build_and_publish:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ---- BACKEND NODE (IMAGE DOCKER) ----
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.GIT_USER }}
          password: ${{ secrets.GIT_PAT }}

      - name: Build backend Docker image
        run: |                                          
          docker build -f Dockerfile.dev \
            -t $REGISTRY/${{ secrets.GIT_USER }}/$IMAGE_NAME:latest \
            -t $REGISTRY/${{ secrets.GIT_USER }}/$IMAGE_NAME:${{ github.sha }} \
            .
      - name: Push backend image to GHCR
        run: |                                         
          docker push $REGISTRY/${{ secrets.GIT_USER }}/$IMAGE_NAME:latest
          docker push $REGISTRY/${{ secrets.GIT_USER }}/$IMAGE_NAME:${{ github.sha }}


  # --------- JOB 2 : Déploiement sur serveur de PROD ----------
  deploy:
    runs-on: self-hosted
    needs: build_and_publish
    steps:

      - name: Vérifier la connexion SSH
        run: ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "echo '✅ SSH OK'"


      - name: Déployer le backend sur le serveur de production
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |                                    

            echo "==> Connexion à GitHub Container Registry"  
            echo "${{ secrets.GIT_PAT }}" | docker login ghcr.io -u "${{ secrets.GIT_USER }}" --password-stdin  

            echo "==> Téléchargement de la dernière image backend"
            docker pull ghcr.io/${{ secrets.GIT_USER }}/apiswap-api-prod:latest  

            echo "==> Mise à jour des conteneurs (backend + MongoDB)"
            cd ~/Documents/403-filrouge-MIRO-Giovanni/campuSwap  

            docker compose --env-file .env -f docker-compose.yml down  

            docker compose --env-file .env -f docker-compose.yml up -d  

            echo "✅ Déploiement backend terminé avec succès."  
